* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  background: url('hex.png') #333;
  background-size: 190px;
  font-size: 17px;
  font-family: 'Titillium Web', Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #00CCFF;
}

#status {
  margin: 10px;
  padding: 10px;
  background: #FFF;
  font-size: 1em;
  font-weight: bold;
}

#status.error {
  background: #F66;
}

.unowned { opacity: .2; }

.toggle { display: none; }

.Common     { order: 1; width: 100%; color: grey; display: flex; flex-wrap: wrap; }
.Uncommon   { order: 2; width: 100%; color: green; display: flex; flex-wrap: wrap; }
.Rare       { order: 3; width: 100%; color: blue; display: flex; flex-wrap: wrap; }
.UltraRare  { order: 4; width: 100%; color: purple; display: flex; flex-wrap: wrap; }
.Legendary  { order: 5; width: 100%; color: gold; display: flex; flex-wrap: wrap; }

.subcategory {
  margin: 10px;
  padding: 10px;
  background: #fff;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.req {
  justify-content: space-around;
}

h1 { font-size: 2em; color: #00CCFF; text-align:center; margin: 10px; }
h2 { font-size: 1em; width: 100%; order: 0; }
h3 { font-size: 0.8em; margin-top: 5px; width: 100%; }
h3 span { font-size: inherit; }

#req-subcategories h2 {
  cursor: pointer;
  background: url('plus.png') right no-repeat;
}

#req-subcategories h2.expanded {
  background: url('minus.png') right no-repeat;
}

.req { display: inline; }

#totals {
  padding: 10px 10px 0 10px;
  margin: 10px;
  background: #cf0;
  display: flex;
  flex-wrap: wrap;
}

#totals > div {
  margin-right: 80px;
  margin-bottom: 10px;
}

footer {
  margin: 10px;
  padding: 10px;
  color: #aaa;
  font-size: 0.7em;
  text-align: center;
}

.filtered {
  color: #999;
  text-decoration: line-through;
}

.req span {
  min-width: 200px;
  padding-right: 20px;
  display: inline-block;
}

#filter > div, #tools > div {
  cursor: pointer;
}

#totals > #info {
  font-size: .85em;
  font-style: italic;
  width: 100%;
  color: #790;
  margin-right: 10px;
}
